[alias]
	amend = commit --amend
	co = checkout
	dc = diff --cached
	emend = commit --amend --no-edit
	f = fetch
	hist = log --oneline --decorate --graph
	mf = merge --ff-only
	st = status
	wn = log ..origin/master
[core]
	editor = code --wait
[credential]
	helper = manager-core
[init]
	defaultBranch = main
[pull]
	ff = only
[transfer]
	fsckObjects = true
[user]
	name = Benjamin Pollack
	email = benjamin@bitquabit.com
