[credential]
	helper = manager-core
[pull]
	ff = only
[user]
	name = Benjamin Pollack
	email = benjamin@bitquabit.com
[transfer]
	fsckObjects = true
[init]
	defaultBranch = main
[alias]
	f = fetch
	hist = log --oneline --decorate --graph
	st = status
