[alias]
	f = fetch
	hist = log --oneline --decorate --graph
	st = status
	mf = merge --ff-only
	amend = commit --amend
[core]
	editor = code --wait
[credential]
	helper = manager-core
[init]
	defaultBranch = main
[pull]
	ff = only
[transfer]
	fsckObjects = true
[user]
	name = Benjamin Pollack
	email = benjamin@bitquabit.com
